body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 10vh;
  bottom: 0;
  width: 100%;
}

body {
  font-family: 'Arial', serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.navbar {
  background-color: #121508;
  overflow: hidden;
  height: 63px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

ul {
  margin: 0;
  list-style: none;
}

.navbar a:hover {
  background-color: #bada55;
  color: #000;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#menu-filter {
  width: auto;
  height: auto;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding: 1.5rem;
  margin: 0.5rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.side-nav h3 {
  color: #fff;
  font-size: 20px;
  padding: 5rem 0.5rem 1rem;
}

.side-nav #btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
}

.side-nav a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 15px;
  color: #ccc;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #bada55;
  cursor: pointer;
}

#main {
  transition: margin-left 0.5s;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.navbar-nav {
  display: none;
}

@media (min-width: 560px) {
  .navbar-nav {
    display: none;
  }
}
